<%- include("partials/header")%>
<% blogs.forEach((blog)=> {%>
<div>
	<div class="ui container">
		<img src="<%= blog.image %>" alt="<%= blog.altTag %>" />
		<div class="ui container">
    <span><%= blog.created.toDateString()%></span>
		<p><%= blog.body.substring(0,100) %>...</p>
		<a id='readMore' href="/blogs/<%=blog._id %>">Read More</a>
	</div>
	</div>
</div>

<%})%>
<!--prettier-ignore-->
<%- include("partials/footer")%>
